
#include <windows.h>
#include "resource.h"




IDD_TIME_DLG DIALOGEX DISCARDABLE 0,0,240,160
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Time - Lessons"
FONT 8, "MS Sans Serif"
BEGIN

CTEXT "DAY:",IDC_STATIC,40,22,40,15
COMBOBOX ID_CB_DAY,80,20,100,100,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL
CTEXT "HOUR:",IDC_STATIC,5,62,55,15
COMBOBOX ID_CB_HOURF,60,60,60,220,CBS_DROPDOWNLIST
CTEXT "HOUR:",IDC_STATIC,5,102,55,15
COMBOBOX ID_CB_HOURT,60,100,60,220,CBS_DROPDOWNLIST
LTEXT "MINUTE:",IDC_STATIC,125,60,55,15
COMBOBOX ID_CB_MINF,160,60,60,160,CBS_DROPDOWNLIST
LTEXT "MINUTE:",IDC_STATIC,125,102,55,15
COMBOBOX ID_CB_MINT,160,100,60,160,CBS_DROPDOWNLIST
PUSHBUTTON "SAVE",ID_BT_SAVE,90,140,60,15


END



IDD_STU_DLG DIALOGEX DISCARDABLE 0,0,240,160
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Student Lessons"
FONT 8, "MS Sans Serif"
BEGIN
CTEXT "NAME:",IDC_STATIC,10,20,30,10
EDITTEXT ID_EDIT_NAME,50,18,60,14, ES_AUTOHSCROLL | ES_CENTER
CTEXT "LESSONS:",IDC_STATIC,10,40,40,10
EDITTEXT ID_EDIT_LESSONS,50,38,25,14,ES_CENTER | ES_NUMBER
LISTBOX ID_LIST_TIMES,120,20,110,100
PUSHBUTTON "Add",ID_ADD_LESSON,125,115,15,10
PUSHBUTTON "Remove",ID_ADD_LESSON,145,115,30,10
PUSHBUTTON "SAVE",ID_BT_SAVE,70,130,100,20
/*  DEFPUSHBUTTON "&Ok",IDOK,174,18,50,14
  PUSHBUTTON "&Cancel",IDCANCEL,173,35,50,14
  GROUPBOX "About this Program...",IDC_STATIC,7,7,225,52
  CTEXT "An example program showing how to use Dialog boxes \r\n\r\nby theJenia",
  IDC_STATIC,16,18,144,33 */
END
